[submodule "lib/tiny-process-library"]
	path = lib/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
	ignore = dirty
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
